{% extends 'base.html' %}
{%load staticfiles%}
{% block navigation %}
	<li><a href="{% url 'main:top_ten' %}">TOP 10</a></li>
	<li><a href="{% url 'main:flop_ten' %}">FLOP 1O </a></li>
	<li><a href="{% url 'main:last_quotes' %}">LAST</a></li>
{% endblock %}
{% block content %}
	<div id="blue">
		<div class="container">
			<div class="row centered">
				<h4>Profile</h4>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- blue wrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			{% for quote in quotes %}
				<div class="col-md-8 col-md-offset-2 well">
					<span style="display: inline-block;"><p class="text-left">random #{{forloop.counter}} quote of 10 : {{quote.count_vote}} Score
					<a class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#detailed_vote{{quote.pk}}" aria-expanded="false" aria-controls="detailed_vote{{quote.pk}}">Detail</a>
					</p></span>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

					<span class="text-right"><p style="display: inline-block;"><a href="{% url 'quote:edit_quote' quote.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="{% url 'quote:delete_quote' quote.id %}"><i class="fa fa-times"></i></a></p></span>

					<div class="collapse" id="detailed_vote{{quote.pk}}">
					  <div class="well">
					    {% for vote in quote.vote_set.all %}
					    	{% if vote.is_upvote %}
					    		<p class="text-left" style="color:green">upvote : {{ vote.user.username }}</p>
					    	{% else %}
					    		<p class="text-right" style="color:red">downvote : {{ vote.user.username }}</p>
					    	{% endif %}
					    {% endfor %}
					  </div>
					</div>
					<a href="{% url 'main:detailed_quote' quote.id %}">
						<h4>"{{quote.body|slice:"20"}}..."</h4>
						<p>- {{quote.user.username}}</p>
					</a>
					<p class="text-right"><a href="{% url 'vote:vote' quote.id 1 %}"><i class="fa fa-thumbs-up"></a></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="{% url 'vote:vote' quote.id 0 %}"><i class="fa fa-thumbs-down"></i></a></p>
				</div><!-- col-lg-4 -->
			{% empty %}
				<h1>You have no quote yet.</h1>
				<br><br><br><br>
			{% endfor %}
		</div><!-- row -->
	</div><!-- container -->
{% endblock %}	
	
