{% extends 'base.html' %}
{%load staticfiles%}
{% block navigation %}
	<li><a href="{% url 'main:top_ten' %}">TOP 10</a></li>
	<li><a href="{% url 'main:flop_ten' %}">FLOP 1O </a></li>
	<li><a href="{% url 'main:last_quotes' %}">LAST</a></li>
{% endblock %}
{% block content %}
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>Share your state through  <b>Quotes</b></h1>
				<h2>Instead of fake sense photos </h2>
				</div>
			</div>
		</div>
	</div>


	<div class="container w">
		<div class="row centered">
			<br><br>
			{% for quote in quotes %}
				<a href="{% url 'main:detailed_quote' quote.id %}">
					<div class="col-md-8 col-md-offset-2 well">
						<p class="text-left">random #{{forloop.counter}} quote of 10 : {{quote.count_vote}} Score</p>
						<h4>"{{quote.body|slice:"20"}}..."</h4>
						<p>- {{quote.user.username}}</p>
						<p class="text-right"><a href="{% url 'vote:vote' quote.id 1 %}"><i class="fa fa-thumbs-up"></a></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="{% url 'vote:vote' quote.id 0 %}"><i class="fa fa-thumbs-down"></i></a></p>
					</div><!-- col-lg-4 -->
				</a>
				{% endfor %}
		</div><!-- row -->
	</div><!-- container -->
{% endblock %}	
	
