{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>QUOTEGRAM - TECH TASK</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main:main' %}">QU<i class="fa fa-circle"></i>TEGRAM</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% block navigation %}
            {% endblock %}
            {% if user.is_authenticated %}
              {% if profile == True %}
                <li class="active"><a href="{% url 'auths:profile' %}">{{request.user.username|upper}}</a></li>
              {% else %}
                <li><a href="{% url 'auths:profile' %}">{{request.user.username|upper}}</a></li>
              {% endif %}
              <li><a data-toggle="modal" data-target="#signOutModal" href="#signOutModal">SIGNOUT</a></li>
            {% else %}
              <li><a href="{% url 'auths:signin' %}">SIGNIN</a></li>
              <li><a href="{% url 'auths:signup' %}">SIGNUP</a></li>
            {% endif %}
            <li><a href="{% url 'quote:create_quote' %}"><i class="fa fa-pencil-square-o"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    {% if messages %} <br>{% for message in messages %} {% if message.tags == 'error' %}
      <div class="alert alert-danger fade in text-center">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <h4 style="font-family: 'museo', 'museo', Arial, sans-serif;">{{message}}</h4>
      </div>
    {% else %}
      <div class="alert alert-{{message.tags}} fade in text-center">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <h4 style="font-family: 'museo', 'museo', Arial, sans-serif;">{{message}}</h4>
      </div>
    {% endif %} {% endfor %} {% endif %}

    {% block content %}
    {% endblock %}
   <!-- FOOTER -->
    <div id="f">
        <div class="container">
            <div class="row centered">
                <a href="https://github.com/ArietNyshanbaev/quotegram"><i class="fa fa-github"></i></a>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- Footer -->


    <!-- MODAL FOR CONTACT -->
    <!-- Modal -->
    <div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Sign Out</h4>
          </div>
          <div class="modal-body">
            <div class="row centered">
                <h5>Already want to leave us?</h5>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="{% url 'auths:signout' %}"><button type="button" class="btn btn-danger">Leave</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
